
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block title %}
        <meta charset="utf-8">
        <title>Howdy!</title>
        {% endblock %}
    </head>
    <body>

        <div>
            <a href="/account/register">register</a>
        </div>

        {% block body %}


            <form method="post">
                First Name<input type="text" value="{{ Profile.first_name }}">
                Last Name<input type="text">
                Email:<input type="email",name="email">
                Password<input type ="password",name="password">
                DOB<input type="date">
              <button type="submit">Login</button>
            </form>
        {% endblock %}
    </body>
</html>